*{
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: auto;
  background-color: #FEFDF9;
  color: #263238;
  overflow-x: hidden;
}

:local{
  --light-gray:#F2F2F2;
}


html, body {
  scroll-behavior: smooth;
}
