.container_card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.image_card{
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  margin: 0.2rem;
  border-radius: 0.4rem;
}

.image_card img{
  transition: transform 0.2s;
}

.image_card img:hover {
  transform: scale(1.4);
}

.title_card{
  font-size: 2.2rem;
  margin: 3rem 1.5rem;
}

@media (max-width: 1024px) {
  .container_card {
    grid-template-columns: repeat(2, 45%);
    place-content: center;
  }
}
@media (max-width: 700px) {
  .container_card {
    grid-template-columns: 1fr;
    place-content: center;
  }
  .title_card{
    font-size: 1.6rem;
  }
}
