.container_footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.5rem 0.7rem;
  margin-top: 1rem;
  place-items: center;
  border-top: 1px solid #eaeaea;
  color: #546e7a;
  font-size: 0.88rem;
}

.container_footer img {
  margin: 0 0.4rem;
}

.container_footer p:first-of-type {
  font-weight: 600;
  text-align: start;
}

@media (max-width: 768px) {
  .container_footer {
    grid-template-columns: 1fr;
    z-index: 4;
  }
}
