.container_presentation {
  display: grid;
  grid-template-columns: 55% 45%;
  place-items: center;
  margin: 3% 0 3% 0;
}

.welcome_title {
  margin: 0.4rem 0;
  font-size: 3.2rem;
  letter-spacing: 0.5px;
}

.welcome_title span {
  color: #f1b604;
  filter: contrast(130%);
}

.btn_work {
  border: none;
  padding: 0.6rem 1rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.3rem;
  letter-spacing: 0.5px;
  font-size: 0.83rem;
  cursor: pointer;
  color: #fff;
  background-color: #2d2d2a;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.btn_work:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.subtitle {
  margin: 1rem 0 1.5rem 0;
}

.image_wsp {
  margin: 1rem;
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
.aboutHerreria {
  margin: .5rem 1rem;
  padding: 1rem;
}


@media (max-width: 1024px) {
  .container_presentation {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 468px) {
  .container_presentation {
    grid-template-columns: 1fr;
  }
  .working {
    display: none;
  }
  .welcome_title {
    font-size: 2.5rem;
  }
  .subtitle {
    font-size: 1rem;
  }
  .image_wsp{
    margin: 3rem .5rem;
    width: 30px;
  }
}
