.container_navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.6rem 1rem;
}

.btn_navigation {
  background: var(--background);
  font-weight: 600;
  letter-spacing: 0.2px;
  border: none;
  padding: 0.6rem 0.8rem;
  text-decoration: none;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  border-radius: 0.4rem;
  cursor: pointer;
  margin: 0 0.6rem;
  font-family: inherit;
  font-size: 0.8rem;
}

.btn_navigation:hover {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.container_btn {
  text-align: center;
  padding: 0.7rem;
}

/* Estilos para pantallas más pequeñas (menos de 468px) */
@media (max-width: 467px) {
  .btn_navigation:first-child:before {
    content: "Presupuestos";
  }
  .container_navigation {
    flex-direction: column;
  }
  .container_btn {
    display: flex;
    flex-direction: column;
  }
  .btn_navigation {
    margin: 0.4rem 0;
  }
}

/* Estilos para pantallas más grandes (468px o más) */
@media (min-width: 468px) {
  .btn_navigation:first-child:before {
    content: "Solicitar Presupuesto";
  }
}
